In [25]:
import pandas as pd

### Q1

In [26]:
l=[4,8,15,16,23,42]

In [27]:
l

[4, 8, 15, 16, 23, 42]

In [28]:
s=pd.Series(l)

In [29]:
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2

In [30]:
list=[1,2,3,4,5,6,7,5,9,2]

In [31]:
print(pd.Series(list))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    5
8    9
9    2
dtype: int64

### Q3

In [32]:
# Creating a dictionary of key value pair

In [36]:
d={
    "Name":['Alice','Bob','Claire'],
    "Age":[25,30,27],
     "Gender":['Female','Male','Female']
  }

In [39]:
df=pd.DataFrame(d)

In [40]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4

In [41]:
## Both dataframe and series in pandas are datatypes of pandas . Dataframe stores the data in structured tabular 
## format while series stores the data in series format. EXAMPLE-

In [42]:
pd.DataFrame(list)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  5
8  9
9  2

In [44]:
pd.Series(list)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    5
8    9
9    2
dtype: int64

### Q5

In [45]:
## If df is a dataframe
## Some common functions- df.head(), df.tail(), df.iloc(), df.loc(), df.drop(), df.dropna(), etc.
## While performing Exploratory Data Analysis, we will be using them .

### Q6

In [46]:
## All three are value mutable  except series is size immutable.

### Q7

In [50]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]

In [51]:
s1=pd.Series(l1)
s2=pd.Series(l2)
s3=pd.Series(l3)

In [54]:
pd.DataFrame([s1,s2,s3])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9